@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Serif|Playball|Pacifico');
/*My css */
*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family:Microsoft JhengHei;
}

.slogan{
	font-family: 'Noto Serif','Lobster', 'Playball','Pacifico',Microsoft JhengHei;
	font-size:50px;
	/*position:absolute;*/
	/*z-index:2;*/
	/*margin:5% 0px 0px 10%;*/
	/*top:-20px;*/
	/*left:10%;*/
	/*transform: rotate(-30deg);*/
	text-shadow:3px 0px #ccc;
}
#myTop{
	position:fixed;
	right:1%;
	bottom:1%;
	font-size:40px;
	color:#F38181;
	z-index:200;
}
#myTop:hover{
    font-size: 60px;
    color:#F6416C;
    /*text-shadow:0px 2px 10px 5px #97B1BF;*/
    text-shadow: 0px 6px 5px #C9D6DF;
}
.myBlock{
	display:inline-block;
	width: 15vw;
	height: 30vh;
	background-color:pink;
	font-size:30px
	/*margin:.5vw;*/
}
.myTitle{
	font-size:50px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	/*float:left;*/
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-delay:0.8s;
}
.myTimeLine{
	box-sizing: border-box;
	width: 45vw;
	height: 80vh;
	margin: -12vh 0px 0px 0px;
	padding: 0;
	/*background: #e97162;*/
	overflow: hidden;
}
#lineCont {
  width: 100%;
  height: 20%;
}
#line {
  height: 6px;
  width: 70%;
  background: white;
  border-radius: 5px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
#span {
  display: none;
  width: 70%;
  margin: auto;
  margin-top: 25%;
  text-align: center;
  color: white;
}
.circle {
  width: 20px;
  height: 20px;
  background: #e97162;
  border-radius: 15px;
  position: absolute;
  top: -7px;
  border: 3px solid white;
  cursor: pointer;
}
.circle:before {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  border-radius: 100%;
  top: 2px;
  left: 2px;
  display: none;
}
.circle .popupSpan {
  width: auto;
  height: auto;
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  color: white;
  position: absolute;
  top: 20px;
  left: -75px;
  display: none;
  transition: all 0.1s ease-out;
}
.circle.hover:before, .circle.active:before {display: block;}
.circle.hover .popupSpan, .circle.active .popupSpan {display: block;}
.circle.active .popupSpan {top: -40px;}
#mainCont {
  height: 80%;
  width: 100%;
  position: relative;
  color: white;
  font-size: 18px;
  text-align: left;
  transition: all 0.2s ease-out;
}
#mainCont span {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 30%;*/
  transition: all 0.2s ease-out;
}
#mainCont span ul{
	list-style-type:decimal;
}
.timeTitle{
	font-weight: bold;
	font-size:24px;
	text-align:center;
	line-height:15px;
}
#mainCont span.right {left: 200%;}
#mainCont span.center {left: 0% !important;}
#mainCont span.left {left: -100%;}
#myBtnRegister, #myBtnCheck{
  font-family: Microsoft JhengHei;
  background:rgb(233, 113, 98);
  color:#fff;
  border:none;
  position:relative;
  height:64px;
  width:50%;
  font-size:24px;
  /*border-radius: 10px;*/
  margin:3% 0px 0px 0px;
  cursor:pointer;
  transition:0.8s ease all;
  outline:none;
}
#myBtnRegister:hover, #myBtnCheck:hover{
  background:#fff;
  color:rgb(233, 113, 98);
}
#myBtnRegister:before,#myBtnRegister:after,#myBtnCheck:before,#myBtnCheck:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:rgb(233, 113, 98);
  transition:0.3s ease all;
}
#myBtnRegister:after,#myBtnCheck:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#myBtnRegister:hover:before,#myBtnRegister:hover:after,#myBtnCheck:hover:before,#myBtnCheck:hover:after{
  width:100%;
  transition:.8s ease all;
}
.myGallery{
  /*position:absolute;*/
  display:inline-flex;
  height:22vh;
  width:20%;
  margin: 2px 0px 2px 0px;
  padding: 0px 5px 0px 5px;
  filter: opacity(70%); /* IE6-9 */
  -webkit-filter: opacity(70%) /* Google Chrome, Safari 6+ & Opera 15+ */
  /*-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);*/
  /*box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);*/
  /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
  /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}
.myGallery:hover {
  cursor:pointer;
  animation: myGreytoColor .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: myGreytoColor .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*animation-play-state: paused;*/
  /*animation-timing-function: linear;*/
  /*filter: none; /* IE6-9 */
  /*-webkit-filter: grayscale(0);  Google Chrome, Safari 6+ & Opera 15+ */
}
@keyframes myGreytoColor {
    from {filter: opacity(70%);}
    to {filter: none}
}
@-webkit-keyframes myGreytoColor {
    from {filter: opacity(70%);}
    to {filter: none}
}
img{
	width: 100%;
}
.closePhoto {
  position: absolute;
  top: 0px;
  right: 1%;
  margin:0;
  padding:0;
  font-size: 40px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  z-index: 99999;
  cursor: pointer;
}
.activePhoto {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 600px !important;
  height: 360px !important;
  margin: auto;
  -webkit-animation: in 200ms 1 ease;
          animation: in 200ms 1 ease;
  overflow: visible;
  background: #333;
}

.inactivePhoto {
  -webkit-animation: out 200ms 1 ease;
          animation: out 200ms 1 ease;
}

@-webkit-keyframes in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2)
  }
}

@keyframes in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2)
  }
}

@-webkit-keyframes out {
  100% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05)
  }
}

@keyframes out {
  100% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05)
  }
}

.myTable{
	width:70%;
	color:#364F6B;
	margin:auto;
	/*float:right;*/
	/*border: 3px solid transparent;*/
}
.myTable tr, .myTable td, .myTable th{
	/*border:3px solid transparent;*/
	/*padding:10px;*/
	/*border-collapse: 3px solid transparent;*/
	/*margin:5px;*/
	border:3px solid #00E0FF; 
	font-size:22px;
	text-align: center;
	/*height:50px;*/
	line-height:42px
}
.day1:hover,.day2:hover,.day3:hover,.day4:hover{
	cursor: pointer;
	background-color:#C2C2C2;
	/*opacity: 0.8;*/
}
.myLunch{
	background-color:#364F6B;
	font-size:18px;
	color:white;
}
.days{
  background: #364F6B;
  color: white;
  font-size: 18px;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
  opacity: 0;
  pointer-events: none;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
  /*filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);*/
  opacity: 1;
}
.day1{background-color: #9DDCDC}
.day2{background-color: #FFF4E1}
.day3{background-color: #FFEBB7}
.day4{background-color: #E67A7A}
.world {
  width: 100vw;
  height: 80vh;
  vertical-align: bottom;
}
@-webkit-keyframes sunset {
  25%,
  60% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  80%,
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes sunset {
  25%,
  60% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  80%,
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
.sun {
  fill: #ffd7ac;
}
.sky {
  -webkit-transform-origin: 500px 500px;
          transform-origin: 500px 500px;
  -webkit-animation: sunset 8s infinite;
          animation: sunset 8s infinite;
}
.reflection {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transform-origin: 500px 500px;
          transform-origin: 500px 500px;
}
.ocean {
  fill: #fff;
  opacity: 0.2;
}
.hill {
  fill: #6d5d91;
}
.hill_back,.hill_reflection {
  fill: #77669d;
}
.hill_reflection {
  opacity: 0.2;
}
@-webkit-keyframes stars {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes stars {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
.stars {
  fill: #fff;
}
.star {
  opacity: 0.3;
  -webkit-animation: stars 2.5s infinite;
          animation: stars 2.5s infinite;
}
.star:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.star:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.star:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.star:nth-child(4) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.star:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.star:nth-child(6) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.star:nth-child(7) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
/* Center the loader */
#loaderBack{
  width: 100%;
  height: 100%;
  background:#ccc;
}
@-webkit-keyframes showPage{
  0%{filter:brightness(150%);}
  100%{filter:none;}
}
@keyframes showPage{
  0%{filter:brightness(150%);}
  100%{filter:none;}
}
#loading{
  position: absolute;
  /*background: black;*/
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
}
#loading i{
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #00b3d5;
}
#loading i:first-child{
  animation:loading-ani2 0.5s linear infinite;
  opacity: 0;
  transform:translate(-20px);
}
#loading i:nth-child(2),
#loading i:nth-child(3){
  animation:loading-ani3 0.5s linear infinite;
}
#loading i:last-child{
  animation:loading-ani1 0.5s linear infinite;
}
@keyframes loading-ani1{
  100%{
    transform:translate(40px);
    opacity: 0;
  }
}
@keyframes loading-ani2{
  100%{
    transform:translate(20px);
    opacity: 1;
  }
}
@keyframes loading-ani3{
  100%{
    transform:translate(20px);
  }
}
#myDiv {display: none;}


.activePopup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 50vh !important;
  height: 50vh !important;
  margin: auto;
  padding:2vh;
  /*-webkit-animation: in 500ms 1 ease;*/
          /*animation: in 500ms 1 ease;*/
  overflow: visible;
  background: white;
  /*border-radius:10px;*/
  box-shadow:2px 2px 2px 2px rgba(20%,20%,40%,0.5);
  text-align:center;
  vertical-align: middle;
  line-height:5vh;
}
#regpopup img{
  width: 20vh;
  margin:auto;
  margin-bottom:1vh;
  padding:1vh;
}
#regpopup div :first-child {
  width: 20vh;
  margin:auto;
  padding:1vh;
  margin-bottom:1vh;
  background:black;
  border-radius:100%;
}
#regpopBtn{
  width: 20vh;
  margin:1vh 15vh 2vh 0px;
  padding:2vh;
  position:absolute;
  bottom:0px;
  right:0px;
  background: #F38181;
  color:white;
  cursor:pointer;
}
#regpopBtn:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #F38181;
}
.inactivePopup {
  /*-webkit-animation: out 200ms 1 ease;*/
          /*animation: out 200ms 1 ease;*/
}

@-webkit-keyframes in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2)
  }
}

@keyframes in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2)
  }
}

@-webkit-keyframes out {
  100% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05)
  }
}

@keyframes out {
  100% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05)
  }
}
/*basic reset*/
* {margin: 0; padding: 0;}
html {
  height: 100%;
}
body {
  font-family: Microsoft JhengHei, arial, verdana;
}
/*form styles*/
#msform {
  width: 60%;
  margin: 25px auto;
  text-align: center;
  position: relative;
}
.mobile-br{
  display:none;
}
@media all and (max-width: 768px) {
    #msform{width:100%;}
    #msform fieldset{
      width: 100%;
      margin: 5px 5% 25px 5%;
      padding: 5px 10px;
    }
    #progressbar li, #progressbar{font-size:10px;}
    #msform{font-size:12px;}
    .fs-title{font-size:14px;}
    #msform input, #msform textarea{font-size:12px;}
  .mobile-br{display:block;}
    #msform .form-group input[type="radio"]{margin:1vw 1vw 1vw 0px!important;}
  #msform .action-button {width: 25vw !important;}
}
#msform .form-group{
  text-align:left;
}
#msform fieldset{
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 10px 10% 50px 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform .form-group{
  margin:5px 0px 25px 0px;
}
#msform input, #msform textarea{
  padding: 10px;
  border: none;
  box-sizing: border-box;
  background:#E4F9F5;
  font-size: 14px;
}
#msform input[type="text"], #msform textarea{
  width: 100%;
}
#msform .form-group input[type="radio"]{
  margin:0px 5px 0px 15px;
  background-color: transparent;
  border: 0.1em solid #47d1da;
  border-radius: 50%;
  vertical-align: middle;
  position:relative;
  box-shadow: inset 0 0 0 0 #47d1da;
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#msform .form-group input[type="radio"]:first-child{
  margin:0px 5px 0px 0px;
}
#msform input[type="radio"]:checked {
  background-color: #47d1da;
  box-shadow: inset 0 0 0 .1875em white;
  -webkit-transition: background .15s, box-shadow .5s;
  transition: background .15s, box-shadow .5s;
}
#msform label{
  margin:15px 0px 15px 0px;
}
#msform input[type="checkbox"]{
  margin:0px 10px 0px 0px;
  background-color: transparent;
  border: 0.1em solid #47d1da;
  vertical-align: middle;
  position:relative;
  box-shadow: inset 0 0 0 0 #47d1da;
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#msform input[type="checkbox"]:checked{
  background-color: #47d1da;
  box-shadow: inset 0 0 0 .1875em white;
  -webkit-transition: background .15s, box-shadow .5s;
  transition: background .15s, box-shadow .5s;
}
/*buttons*/
#msform .action-button {
  width: 10vw;
  background: #F38181;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #F38181;
}
.submit{
  background:#48C9B0 !important;
}
.submit:hover, .submit:focus{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #48C9B0 !important;
}
#register-heading{
 text-align:center;
 font-size:3.5vh;
 margin-top:2vh;
 margin-bottom:0px;
}
/*headings*/
.fs-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color:#625772;
  text-transform: uppercase;
  font-size: 16px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #625772;
  background: #A9EEE6;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #A9EEE6;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #F38181;
  color:#625772;
}

#set0-content{
  background-color:#E4F9F5;
  margin:1vh 0px 2vh 0px;
  padding:0.1vh 0px 0px 0px;
  text-align:left;
}
.set0-title{
  font-weight:600;
  line-height:120%;
  margin:10px 0px 2px 0px;
}
/*validation的設定*/
.warning{
  color:red;
}

#checkSubmit{
  width:100px;
  height:40px;
  font-size:24px;
  box-shadow: none !important;
  padding:5px;
  margin:10px 0px 10px 35%;
  border:none !important;
  position:absolute;
  bottom:0px;
  left:0px;
}